<!DOCTYPE html>
    <html>
        <head>
            <title></title>
        </head>
        <body>
            <% @howmany.times do %>
            <img src="candle.png"></img>
            <% end %>
        </body>
    </html>