
<!DOCTYPE html>
    <html>
        <head>
            <title></title>
        </head>
        <body>
            <form action="/candles" method="POST">
                How Many Candles:
                <input type="text" name="candles">
                <input type="submit" value="Send">
            </form>
        </body>
    </html>
